<!--The content below is only a placeholder and can be replaced.-->
<div class="container center">
      <h1 class="text-center">
        Let Artificial Intelligence guess your age!
      </h1>
      <div class="text-center">
      <fa-icon [icon]="faBrain" size="7x"></fa-icon> 
    </div>
  <div class="col-md-12">
    <h2 class="text-center custom">Click or drag and drop your picture! </h2>
  </div>
    <ngx-dropzone (change)="onSelect($event)" [multiple]="false" [expandable]="true" class="custom">
      <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <div class="row custom" *ngIf="this.files.length != 0 && this.files.length < 2 && !this.loading">
      <div class="col-md-12">
        <button type="button" (click)="uploadFiles()" class="btn btn-outline-primary btn-block">Upload</button>
      </div>
    </div>
    <div *ngIf="this.loading" class="row custom">
      <div class="col-md-12">
        <button type="button" class="btn btn-outline-primary btn-block" disabled>Loading...</button>
      </div>
    </div>
    <div class="row custom" *ngIf="this.files.length > 1">
      <div class="col-md-12">
        <button type="button" class="btn btn-outline-primary btn-block" disabled>Too many files!</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 custom">
        <p class="text-center"><i><u>Privacy policy:</u> We do not store or keep your photos in any way after returning your age to you! If you don't believe us, check out the source code!</i></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 cus">
        <footer class="custom">Made with <fa-icon [icon]="faHeart"></fa-icon> by <u><a href="https://www.linkedin.com/in/mcubillo/"> Manuel C</a></u> and <u><a href="https://jonathan-bernales.com"> Jonathan B</a></u> | Powered with <fa-icon [icon]="faAngular"></fa-icon> and <fa-icon [icon]="faAWS"></fa-icon> | v0.39</footer>
      </div>
      <div class="col-md-4">
        <footer class="text-right custom"><a href="https://gitlab.com/jbernales/age-guess">View source code</a></footer>
      </div>
    </div>
  
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-grid-pulse" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<router-outlet></router-outlet>
