.dropzone {
	background: rgb(243, 247, 247) !important;
}

.center{
    margin-top: 100px;
    margin-bottom: auto;
}
.custom{
    margin-top: 20px;
}

.headless{
    margin-top: 0px;
}

.img{
    max-width: 50%;
    height: auto;
}