<!--The content below is only a placeholder and can be replaced.-->
<div class="container center">
      <h1 class="text-center">
        Let Artificial Intelligence guess your age!
      </h1>
      <div class="text-center">
      <fa-icon [icon]="faBrain" size="7x"></fa-icon> 
    </div>
  <div class="col-md-12">
    <h2 class="text-center custom">Click or drag and drop your picture! </h2>
  </div>
    <ngx-dropzone (change)="onSelect($event)">
      <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>  
</div>

<router-outlet></router-outlet>
